*.so
*.o
*.mod
*.x
*.aux
*.out
*.a
*.swp
*.swo
*.dSYM
CONFIG*
makefile
__pycache__
*.vec
*~
test/testResults_openlowdin/
utilities/erkale/armadillo
utilities/erkale/armadillo-code/
utilities/erkale/build/
utilities/erkale/erkale/
utilities/erkale/hdf5/
utilities/erkale/sources/
.vscode/
*.code-workspace
 
!test/vec/*
